<nav class="navbar navbar-default" style="background-color:white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="../../images/instagram-1.jpg" width="40" height="40" class="d-inline-block align-top" alt="instaPic"><p style="display:inline;align:center"> &nbsp;&nbsp;| &nbsp;&nbsp;<strong>InstaPic</strong></p>
      </a>
    </div>
    <div class="row">
      <ul class="nav navbar-nav navbar-right">
        <div class="col-md-4 col-offset-2">
          <li><span class="glyphicon glyphicon-picture icon-size" role = "button"aria-hidden="true"></span></li>
        </div>
        <div class="col-md-4 col-offset-2">
          <li><span class="glyphicon glyphicon-heart icon-size" role = "button"aria-hidden="true"></span></li>
        </div>
        <div class="col-md-4 col-offset-2">
          <li><span class="glyphicon glyphicon-user icon-size" role = "button"aria-hidden="true"></span></li>
        </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container" style="margin-bottom:50px;margin-top:50px;">
  <div class="row">
    <div class = "col-md-3 col-md-offset-1">
      <img src = {{profilePicture}} class="image img-circle" style="width:180px;height:180px" title = {{profileName}} alt = {{profileName}}>
    </div>
    <div class =  "col-md-7">
      <div class="container" style="font-size:xx-large">
          <p class="montserrat">{{profileUsername}}</p>
      </div>
      <div class="container" style="font-size:x-large">
          <p class="montserrat"><strong>{{profileName}}</strong><p>
      </div>
    </div>
  </div>
</div>
<gallery [datasource]=posts></gallery>